{{#each products}}
<div>
    <h2>Titulo: {{title}}</h2>
    <h2>Descripcion: {{description}}</h2>
    <h2>Categoria: {{category}}</h2>
    <h2>Codigo: {{code}}</h2>
    <h2>Precio: {{price}}</h2>
    <h2>Stock: {{stock}}</h2>            
</div>
<hr>
{{/each}}