<h1>Bienvenido {{user}}! Esta es tu lista de productos</h1>

<div>
{{#each products}} 

<pre>{{title}}</pre>
<pre>{{description}}</pre>
<pre>${{price}}</pre>
<form method="post" action="api/carts/65ccd6f1ba07c5963114dbf5/product/{{_id}}">

<input type="submit" value="Agregar al carrito" name="AgregarAlCarrito" ></input>
</form>
<hr>
{{/each}} 
<form action="/api/session/logout" method="post">
    <input type="submit" value="Cerrar sesion" >

</form>
</div>

